@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Serif', serif;
}

#main-header img{
    width: 100%;
}

.bg-black{
    color: white;
    background-color: #333333;
}

#main-header .menu-item{
    width: 25%;
}

#main-header .prof-img{
    height: 363px;
}

.menu-item:hover{
    cursor: pointer;
    opacity: 0.7;
}